body {
  background-color: #fff0f0;
  font-family: 'Roboto', sans-serif; 
  color: #39311d;
  font-size: 20px;
  width: auto;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.btn:hover {
  background-color: #790c5a;
  color: #ffffff;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0px;
}
p {
  line-height: 10px;
  padding: 0px;
}
li {
  align-items: center;
  /* font-size: 100px;  */
  display: inline-block;
  list-style: none;
}
.card {
  text-align: center;
  background-color: #ebd4d4;
  margin: 50px;
  padding: 15px 15px;
  border-radius: 10px;
}
.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 10px;
}
.btn {
  background-color: #ea2c62;
  color: #39311d;
  opacity: 0.7;
  padding: 20px;
  border-radius: 10px;
  width: 90px;
  height: 10px;
  margin: 0 auto;
}
.footer {
  background-color: grey;
  display: inline-block;
  text-align: center;
  /* padding: 0; 20px; */
  width: 100vw;
}

.icon {
  font-size: 50px;
  text-align: center;
}
.list {
  text-align: center;
  font-weight: bold;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}